/* css reset */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* style */
body {
  display: grid;
  margin: 0;
  height: 100vh;
  background-color: #82466e;
  animation: backColor 4s infinite;
  position: relative;
}
@media (max-width: 500px) {
  .mainStyle{
    display: none!important;
  }
}
.globalHeader {
  margin: 20px;
}
@media (min-width: 500px) {
  .globalHeader {
    margin: 100px 0 80px;
  }
}
.searchForm {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .searchForm {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.searchForm > label {
  width: 100%;
}

.searchForm > label > input {
  width: 100%;
  /*margin-right: 10px;*/
  height: 40px;
  padding: 0 10px;
  border: 2px solid #c4c7ce;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchForm > label > input:focus {
  border-color: #4e71f2;
}

.searchForm > button {
  white-space: nowrap;
  padding: 0 28px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #3697FF;
  color: white;
  font-size: 16px;
  outline: none;
}

.globalMain {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.siteList {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .siteList {
    margin-left: 0;
    margin-right: -25px;
    justify-content: flex-start;
  }
}
.siteList > li {
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  .siteList > li {
    margin-right: 25px;
  }
}
.siteList .site {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  /* 大写 */
  text-transform: uppercase;
}

.siteList .site > .close {
  position: absolute;
  right: 6px;
  top: 0;
  display: none;
}
.siteList .site:hover > .close {
  display: block;
  cursor: default;
}
.siteList .site > .link {
  font-size: 14px;
  margin-top: 4px;
}

.siteList .addButton {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: white;
  border: 1px solid #ddd;
}
.siteList .addButton .icon {
  width: 56px;
  height: 56px;
}
.siteList .addButton .text {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton .addIcon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*动画*/
.mainStyle {
  position: absolute;
  top: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 40px 40px;
  grid-template-rows: 40px 40px;
  justify-content: center;
  align-content: center;
}

.cube01 {
  animation: rush 6s infinite linear;
  background-color: #c0f0b9;
}

.cube02 {
  animation: rush2 6s infinite linear;
  background-color: #f0d8ad;
}

.cube04 {
  animation: rush3 6s infinite linear;
  background-color: #f0addb;
}

.cube03 {
  animation: rush4 6s infinite linear;
  background-color: #c4d8f0;
}

@keyframes rush {
  from {
    transform: translate(0);
  }

  25% {
    transform: translate(100%);
  }

  50% {
    transform: translate(100%, 100%);
  }

  75% {
    transform: translate(0, 100%);
  }
}

@keyframes rush2 {
  from {
    transform: translate(0);
  }

  25% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(-100%, 100%);
  }

  75% {
    transform: translate(-100%, 0);
  }
}

@keyframes rush3 {
  from {
    transform: translate(0);
  }

  25% {
    transform: translate(-100%, 0);
  }

  50% {
    transform: translate(-100%, -100%);
  }

  75% {
    transform: translate(0, -100%);
  }
}

@keyframes rush4 {
  from {
    transform: translate(0);
  }

  25% {
    transform: translate(0, -100%);
  }

  50% {
    transform: translate(100%, -100%);
  }

  75% {
    transform: translate(100%);
  }
}

@keyframes backColor {
  from {
    background-color: #82466e;
  }

  25% {
    background-color: #425e82;
  }

  50% {
    background-color: #826f4d;
  }

  75% {
    background-color: #5e825a;
  }
}
